//--------------------------------------------------------------
// Mixins
//--------------------------------------------------------------
@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin boxsizing {
	box-sizing: border-box;
}


// -------------------
// Media Query Helpers
// -------------------

@mixin breakpoint($bp, $direction: min) {
	@media (#{$direction}-width: $bp) {
		@content;
	}
}

// ---------
// Font Size
// ---------

@mixin fontsize($size) {

	font-size: ($size * $default-font-size);
  	font-size: $size + rem;
}
