nav {
	@include clearfix;
	box-sizing: border-box;
	padding: 10px 25px 0px;
	width: 100%;
	margin: auto;
	background: $white;
	position: fixed;
	border-bottom: 1px solid $gray;
	top: 0;
	width: 100%;
	z-index: 10;

	a {
		font-weight: 500;

		.fa {
			color: $black;
			opacity: 1;

			&:hover {
				color: $gray;
				transform: all 200ms ease;
			}
		}
	}

	.logo {
		float: left;
		width: 10%;

		img {
			max-height: 100px;
			transition: all 200ms ease;
		}
	}

	&.sticky {

		.logo {

			img {
				max-height: 70px;
				transition: all 200ms ease;
			}
		}

		ul {

			margin-top: 25px;
			transition: all 100ms ease;
		}
	}

	label {
		@include fontsize(2.5);
		display: block;
		color: $dark-gray;
		float: right;
		margin-top: 25px;

		@include breakpoint( $break-medium ){
			display: none;
		}
	}

	.mobile-menu {
		max-height: 0;
		overflow: hidden;
		transform: all 500ms ease;
		clear: both;
		text-align: right;


		ul {
			width: 100%;
			float: none;
			li {
				display: block;
				float: none;
				@include fontsize( 1.5);
				line-height: 2em;
			}

			&.social-icons {
				li{
					float: right;
					@include fontsize( 1.5);
					margin-left: 10px;
				}
				
			}
		}

		@include breakpoint( $break-medium) {
			@include boxsizing;
			display: block;
			text-align: center;
			clear: none;
			float: left;
			width: 90%;
			height: auto;
			max-height: none;


			ul {
				float: left;
				padding-left: 50px;
				box-sizing: border-box;
				width: 65%;
				margin-top: 50px;
				transition: all 200ms ease;
				text-align: center;

				li {
					display: inline-block;
					box-sizing: border-box;
					margin-right: 5%;
					@include fontsize( 1 );
				}

				&.social-icons {
					width: 35%;
					float: right;
					padding-right: 15px;
					transition: all 100ms ease;

					li {
						float: right;
						margin-left: 10px;
						width: auto;
						@include fontsize( 1 );

						@include breakpoint( $break-large ) {
							margin-left: 20px;
						}
					}
				}
			}

		}

	}

	input {
		display: none;

		&:checked + .mobile-menu {
			height: 100%;
			transform: all 500ms ease;
			max-height: 600px;
		}
	}
}

