
.skills {
	@include clearfix;
	background: $white;
	padding: 2% 15px 5%;

	h2 {
		@include fontsize( 3 );
		margin-bottom: 50px;
	}

	div {
		@include boxsizing;
	}

	.skill-lists {
		@include clearfix;
		max-width: $container-small;
		margin: auto auto 50px;

		@include breakpoint($break-medium){
			margin: auto;
		}

		ul {
			@include boxsizing;
			@include fontsize( 1.2 );
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1.5em;
			width: 100%;
			text-align: center;

			@include breakpoint ( $break-medium ) {
				width: 33.33%;
				float: left;
				text-align: left;
				margin-bottom: 70px;
			}
		}
	}


	.highlights {
		display: none;

		.highlight-single {
			@include clearfix;
			padding: 2%;
			overflow: hidden;
			position: relative;
			max-width: $container-small;
			margin: auto;
			text-transform: uppercase;
		}

		.name {
			@include fontsize( 1.5 );
			color: $light-blue;
			font-weight: 800;
			box-sizing: border-box;
			position: relative;
			text-align: center;
			width: 100%;
			margin-bottom: 15px;


			@include breakpoint($break-medium){
				@include fontsize( 1.1 );
				position: absolute;
				left: 0;
				max-width: 30%;
				text-align:left;
				margin-bottom: 0;
			}

		}

		.description {
			@include clearfix;
			float: left;
			width: 100%;
			box-sizing: border-box;

			p {
				@include fontsize( 1 );
				text-align: center;	
			}

			@include breakpoint($break-medium){
				p {
					max-width: 70%;
					margin-left: 30%;
					text-align: left;
				}
			}
		}
	}

	.me {
		border-radius: 100%;
		display: block;
		@include clearfix;
		max-width: 150px;
		margin: auto;
		margin-bottom: 20px;
	}

	.education {
		display: none;

		.education-single {
			@include clearfix;
			padding: 2%;
			overflow: hidden;
			position: relative;
			max-width: $container-small;
			margin: auto;

			&:before{
				content: '';
				position: absolute;
				width: 2px;
				top: 0;
				bottom: 50%;
				left: 25px;
				background: $gray;
				display: block;
				z-index: 2;
			}

			&:after {
				content: '';
				position: absolute;
				width: 2px;
				top: 50%;
				bottom: 0;
				left: 25px;
				background: $gray;
				display: block;
				z-index: 2;
			}

			&:first-of-type {
				&:before {
					display: none;
				}
			}

			&:last-of-type {
				&:after {
					display: none;
				}
			}
		}

		.year {
			@include clearfix;
			float: left;
			display:inline-block;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			border: 2px solid $gray;
			color: $white;
			line-height: 46px;
			background: $light-blue;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -25px;
			z-index: 5;
		}

		.field {
			float: right;
			width: 100%;
			text-transform: uppercase;
    		line-height: 1.5em;
    		padding-left: 50px;

    		@include breakpoint( $break-medium ){
    			padding: 0;
    		}
		}
	}

	.toggle-button {
		@include clearfix;
		display: inline-block;
		border: 1px solid $dark-gray;
		padding: 20px 50px;
		cursor: pointer;
		margin-bottom: 25px;
		text-transform: uppercase;
		font-weight: 500;
		width: 90%;
		max-width: 300px;
	}

	.slide-content {
		@include clearfix;
		padding-bottom: 50px;
		border-top: 1px solid $gray;
		padding: 20px 0;
	}
}