.widget-time {
	@include clearfix;
	padding: 50px;

	.title {
		@include fontsize( 1.5 );
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	h2 {
		@include fontsize( 1.1 );
		color: $white;
		font-weight: normal;
		margin-bottom: 8px;
	}

	.time-zone {
		@include clearfix;
		width: 25%;
		box-sizing: border-box;
		float: left;
	}


}