$max-width: 1600px;
$container-small : 1000px;

/******************
** Breakpoints
*******************/

$break-medium : 720px;
$break-large: 1040px;


/******************
** Colors
*******************/

$white : #fff;
$black : #000;
$gray : #929292;
$dark-gray : #252525;




$default-font-size : 10;