$max-width: 1600px;
$container-small : 1000px;
$container-xsmall : 800px;

/******************
** Breakpoints
*******************/

// -----------
// Breakpoints
// -----------

$break-small:		480px;
$break-medium:		720px;
$break-large:		1040px;
$break-container:	1200px;
$break-xl:			1800px;
$max-width:			1200px;


/******************
** Colors
*******************/

$white : #fff;
$black : #000;
$gray : #929292;
$dark-gray : #252525;
$light-blue : #10b5de;




$default-font-size : 10;